%h1 Hi there!
%p You're running an example app that demonstrates the Omelet open-source reporting system!
%p
	You can see your reports
	= link_to "here!", "/omelet/reports"
%p
	Or maybe you'd like to
	= link_to "make a new report?", "/omelet/reports/new"
%p
	You might want to
	= link_to "sign in.", new_user_session_path

%h2 Btw here are all the people registered on the site:
%table
	%thead
		%th ID
		%th Email
	%tbody
		- for user in @users do
			%tr
				%td= user.id
				%td= user.email
